@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
 
  
}
header{
  text-align: center;
  color: aliceblue;
  background-color: blue;
  height: 60px;
}
header h1{
  font-size: 3rem;
}
main{
  max-width: 700px;
  margin: auto;
}
.main{
  max-width: 600px;
  margin:auto;
}
.alinha{
  margin: auto;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.456);
}
footer h1{
  font-size: 3rem;
}
footer{
  text-align: center;
  color: aliceblue;
  background-color: blue;
  height: 60px;
}
